{{ define "main" }}
  <div class="single-page-grid">
    <main class="post">
      <article>
        <h1 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h1>

        <h5 class="post-subtitle">
          <a>By {{ .Params.author.name }} - {{ dateFormat "Monday, Jan 2, 2006" .Date.Local }}</a>
        </h5>

        {{ with .Params.Description }}
          <div class="post-excerpt">{{ . }}</div>
        {{ end }}

        {{ if .Params.Cover }}
          <figure class="post-cover">
            <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}" />
            
            {{ if .Params.CoverCaption }}
              <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
            {{ end }}
          </figure>
        {{ end }}

        {{- if .Params.toc }}
          <hr />
          <aside id="toc">
            <div class="toc-title">{{ i18n "tableOfContents" }}</div>
            {{ .TableOfContents }}
          </aside>
          <hr />
        {{- end }}

        {{ if .Params.Audio }}
          <div class="post-audio">
            <audio controls>
              <source src="{{ .Params.Audio }}">
            </audio>
          </div>
        {{ end }}

        <div class="post-content">
          {{ .Content }}
        </div>
      </article>
    </main>
    <div class="post">
      <div style="background-color: #202020; padding: 24px">
        <h3 style="border-left: 4px solid #CBA94A; padding-left: 12px; margin-top: 0px;">Categories</h3>
        {{ $pages := .Site.Pages }}
        {{ range .Site.Menus.main -}}
            {{ if in .Identifier "news"}}
                {{ range .Children }}
                    <div style="display: flex;">
                        <div style="flex-grow: 1">
                          <a href="{{ .URL | relLangURL }}" style="text-decoration: none;">{{ .Name }}</a>
                        </div>
                        <div>
                          ({{ len (where $pages "Section" "==" .Identifier) }})
                        </div>
                    </div>
                    <hr />
                {{ end}}
            {{ end}}
        {{ end}}
      </div>
    </main>
  </div>
{{ end }}
