@font-face {
  font-family: 'Lato';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.woff") format("woff"),
}

@font-face {
  font-family: 'Lato';
  font-style:  normal;
  font-display: auto;
  font-weight: 200;
  src: url("../fonts/Lato-Light.woff") format("woff"),
}

@font-face {
  font-family: 'Lato';
  font-style:  normal;
  font-display: auto;
  font-weight: 700;
  src: url("../fonts/Lato-Bold.woff") format("woff"),
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"),
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-display: auto;
  font-weight: 200;
  src: url("../fonts/Montserrat-Light.woff") format("woff"),
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-display: auto;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"),
}
