.footer {
  padding: 10px 20px;
  flex-grow: 0;
  color: $light-color-secondary;
  @media #{$media-size-phone} {
    margin-top: 15px;
  }
  [data-theme=dark] & {
    border-top: 1px solid $dark-border-color;
  }
  [data-theme=light] & {
    border-top: 1px solid $light-border-color;
  }

  &__inner {
    display: flex;
    margin: 0 auto;
    width: 1170px;
    max-width: 100%;

    @media #{$media-size-tablet} {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-size: 1rem;
    color: $light-color-secondary;
    @media #{$media-size-tablet} {
      flex-direction: column;
      justify-content: center;
      margin: 10px 0px;
    }


    & > *:last-child {
      padding: 0 0px;

      @media #{$media-size-tablet} {
          padding: 0;
      }
    }

    .social-media-icons {
      margin-right: 5px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
    &-left {
      display: flex;
      align-items: center;

      @media #{$media-size-tablet} {
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

.tooltip a[title]:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 30px;
  left: 0;
  font-size: .9em;
  padding: 5px 10px;
  border-radius: 2px;


  [data-theme="dark"] & {
    background-color: lighten($dark-background, 6);
  }
  [data-theme="light"] & {
    background-color: darken($light-background, 6);
  }
}

.tooltip a[title="Twitter"]:hover::after {
  left: -15px !important;
}
.tooltip a[title="Github"]:hover::after {
  left: 20px !important;
}
.tooltip a[title="Reddit"]:hover::after {
  left: 45px !important;
}

@media screen and (max-width: 776px) {
  .tooltip a[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 40px;
    left: 0;
    font-size: .9em;
    padding: 2px 5px;
  }
}
