.home {
  .main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    font-family: "Montserrat", sans-serif;
    [data-theme=dark] & {
      color: #ffffff;
    }
    .left {
      text-align: left;
      .title {
        h1,h2 {
          font-size: 97px;
          line-height: 1.1em;
          margin: 0;
        }
        h1 {
          font-weight: 200;
        }
        h2 {
          font-weight: 700;
        }
      }
      .underline {
        width: 100px;
        height: 6px;
        [data-theme=dark] & {
          background: #ffffff;
        }
        [data-theme=light] & {
          background: #c5c5c5;
        }
      }
      .subtitle {
          font-size: 32px;
          line-height: 0em;
          font-weight: 200;
      }
    }
  }
}
