.posts {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    // Default
    border-bottom: 1px solid $light-border-color;

    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid $dark-border-color;
    }

    @media (prefers-color-scheme: light) {
      border-bottom: 1px solid $light-border-color;
    }

    [data-theme="dark"] & {
      border-bottom: 1px solid $dark-border-color;
    }

    [data-theme="light"] & {
      border-bottom: 1px solid $light-border-color;
    }
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post {
    &-title {
      font-size: 1.2rem;
      margin: 5px 0 5px 0;
    }
    &-button {
      text-transform: uppercase;
      padding: 8px 20px 8px 20px;
      white-space: nowrap;

      border-radius: 20px;
      @media (prefers-color-scheme: dark) {
        background-color: none;
        color: white;
        border: 2px solid #ffffff;

        &:hover {
          background-color: white;
          color: black;
        }
      }

      @media (prefers-color-scheme: light) {
        background-color: white;
        color: black;
        border: 2px solid #000000;

        &:hover {
          background-color: black;
          color: white;
        }
      }

      [data-theme="dark"] & {
        background-color: none;
        color: white;
        border: 2px solid #ffffff;

        &:hover {
          background-color: white;
          color: black;
        }
      }

      [data-theme="light"] & {
        background-color: white;
        color: black;
        border: 2px solid #000000;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }

    &-year {
      padding-top: 6px;
      margin-right: 1.8em;
      font-size: 1.6em;
      @include dimmed;

      @media #{$media-size-tablet} {
        margin: -6px 0 4px;
      }
    }

    &-item {
      padding: 50px 0px 50px 0px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 12px 0;

      border-bottom: 1px solid $light-border-color;

      @media (prefers-color-scheme: dark) {
        border-bottom: 1px solid $dark-border-color;
      }

      @media (prefers-color-scheme: light) {
        border-bottom: 1px solid $light-border-color;
      }

      [data-theme="dark"] & {
        border-bottom: 1px solid $dark-border-color;
      }

      [data-theme="light"] & {
        border-bottom: 1px solid $light-border-color;
      }

      a {
        text-decoration: none;
      }

      &:hover {
        background-color: $light-table-color;

        @media (prefers-color-scheme: dark) {
          background-color: $dark-table-color;
        }

        @media (prefers-color-scheme: light) {
          background-color: $light-table-color;
        }

        [data-theme="dark"] & {
          background-color: $dark-table-color;
        }

        [data-theme="light"] & {
          background-color: $light-table-color;
        }
      }
    }

    &-day {
      flex-shrink: 0;
      margin-left: 1em;
      @include dimmed;
    }
  }
}
