.posts {
  width: 100%;
  max-width: 1170px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;
  h1 {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    width: 360px;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.1em;
    display: block;
    text-align: center;
    text-transform: uppercase;
    [data-theme="dark"] & {
      color: #ffffff;
    }
  }
  .underline {
    width: 177px;
    height: 21px;
    margin: -15px auto 15px;

    [data-theme=dark] & {
      background: #313131;
    }

    [data-theme=light] & {
      background: #d3d3d3;
    }
  }

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  @media #{$media-size-phone} {
    width: 100vw;
    margin: 0;
  }

  &:not(:last-of-type) {
    // Default
    border-bottom: 1px solid $light-border-color;

    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid $dark-border-color;
    }

    @media (prefers-color-scheme: light) {
      border-bottom: 1px solid $light-border-color;
    }

    [data-theme="dark"] & {
      border-bottom: 1px solid $dark-border-color;
    }

    [data-theme="light"] & {
      border-bottom: 1px solid $light-border-color;
    }
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post {
    &-title {
      font-size: 1.2rem;
      margin: 5px 0 5px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: start;
      width: 70%;

      @media #{$media-size-phone} {
        width: 80%;
        overflow: auto;
        white-space: initial;
        align-self: flex-start;
        margin-top: 2px;
        font-size: 1.1rem;
      }

    }

    &-button {
      text-transform: uppercase;
      padding: 8px 20px 8px 20px;
      white-space: nowrap;
      transition: 0.3s ease;

      border-radius: 20px;
      @media (prefers-color-scheme: dark) {
        color: #ffffff;
        border: 2px solid #ffffff;
        background-color: transparent;

        &:hover {
          background-color: white;
          color: black;
        }
      }

      @media (prefers-color-scheme: light) {
        background-color: white;
        color: black;
        border: 2px solid #000000;

        &:hover {
          background-color: black;
          color: white;
        }
      }

      [data-theme="dark"] & {
        color: #ffffff;
        border: 2px solid #ffffff;
        background-color: transparent;

        &:hover {
          background-color: white;
          color: black;
        }
      }

      [data-theme="light"] & {
        background-color: white;
        color: black;
        border: 2px solid #000000;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }

    &-year {
      padding-top: 6px;
      margin-right: 1.8em;
      font-size: 1.6em;
      @include dimmed;

      @media #{$media-size-tablet} {
        margin: -6px 0 4px;
      }
    }

    &-item:first-child {
      border-top: 1px solid $light-border-color;
      [data-theme="dark"] & {
        border-top: 1px solid $dark-border-color;
      }
    }
    &-item {
      padding: 20px 10px 20px 0px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      transition: 0.3s ease;

      border-bottom: 1px solid $light-border-color;

      @media (prefers-color-scheme: dark) {
        border-bottom: 1px solid $dark-border-color;
      }

      @media (prefers-color-scheme: light) {
        border-bottom: 1px solid $light-border-color;
      }

      [data-theme="dark"] & {
        border-bottom: 1px solid $dark-border-color;
      }

      [data-theme="light"] & {
        border-bottom: 1px solid $light-border-color;
      }

      a {
        text-decoration: none;
        @media #{$media-size-phone} {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-top: 15px;
        }
      }

      @media #{$media-size-phone} {
        flex-wrap: wrap;
      }

      &:hover {
        background-color: $light-table-color;

        @media (prefers-color-scheme: dark) {
          background-color: $dark-table-color;
        }

        @media (prefers-color-scheme: light) {
          background-color: $light-table-color;
        }

        [data-theme="dark"] & {
          background-color: $dark-table-color;
        }

        [data-theme="light"] & {
          background-color: $light-table-color;
        }
      }
    }

    &-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1em;
      text-transform: uppercase;
      color: white;
      flex-shrink: 0;

      .day {
        font-size: 2em;
      }

      .month {
        font-weight: 800;
      }

      &::after {
        content: none;
      }
  
      @media (prefers-color-scheme: dark) {
        color: white;
      }

      @media (prefers-color-scheme: light) {
        color: black;
      }

      [data-theme="dark"] & {
        color: white;
      }

      [data-theme="light"] & {
        color: black;
      }

    }

   
  }
}
