<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <div class="footer__content-left">
                {{- with .Site.Params.social }}
                <div class="social-media-icons tooltip">
                    {{ partial "social-icons.html" . }}
                </div>
                {{- end }}
                <div>
                    © 2014-{{ now.Year }} {{i18n "dogecoinfoundation" }} <a href="https://dogecoin.com" target="_blank"
                                                                        rel="nofollow noopener noreferer">Dogecoin.com</a>
                </div>
            </div>
            <div>
                {{ i18n "website-by"}}
                <a href="https://github.com/bellesea" target="_blank" rel="noreferrer noopener nofollow"> Belle,</a>
                <a href="https://twitter.com/cb_doge" target="_blank" rel="noreferrer noopener nofollow"> CB,</a>
								<a href="https://github.com/exu3" target="_blank" rel="noreferrer noopener nofollow"> Ella,</a>
                <a href="https://github.com/fdidron" target="_blank" rel="noreferrer noopener nofollow"> Florian,</a>
                <a href="https://github.com/sampoder" target="_blank" rel="noreferrer noopener nofollow"> Sam</a>
                | <span>{{i18n "theme-by" }} <a href="https://github.com/rhazdon" target="_blank" rel="nofollow noopener noreferer">Djordje Atlialp</a></span>
            </div>
        </div>
    </div>
</footer>
