<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <div class="footer__content-left">
                {{- with .Site.Params.social }}
                <div class="social-media-icons tooltip">
                    {{ partial "social-icons.html" . }}
                </div>
                {{- end }}
                <div>
                    © 2014-{{ now.Year }} Dogecoin Foundation |&nbsp;<a href="https://dogecoin.com" target="_blank" rel="nofollow noopener noreferer">Dogecoin.com</a>
                </div>
            </div>
            <div>
                Website by Belle, CB, Ella, Florian, Sam | <span>Theme by <a href="https://github.com/rhazdon" target="_blank" rel="nofollow noopener noreferer">Djordje Atlialp</a></span>
            </div>
        </div>
    </div>
</footer>
