<div class="locale">
    <div class="current-locale">
        <a href="{{ .Permalink }}"><span
                class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
        <span class="lang1">{{(.Lang)}}</span>
        <img alt="Arrow down" class="arrow-down" src="/arrow-down.png" />
    </div>
    <div class="locale-list">
        <div class="locale-list-body">
            {{ range .Translations}}
            <div class="lang">
                <a href="{{ .Permalink }}"><span
                        class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
                <a href="{{ .Permalink }}">{{(.Lang)}}</a>
            </div>
            {{ end }}
        </div>
    </div>
</div>