{{ define "body" }}
    <body class="home{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main class="main">
        <div class="left">
            <div class="title">
                <h1>Dogecoin</h1>
                <h2>Foundation</h2>
            </div>
            <div class="underline"></div>
            {{- with .Site.Params.homeSubtitle }}
                <p class="subtitle">{{.}}</p>
            {{- end }}
        </div>
        <div>
            {{ if .Site.Params.Portrait.Path }}
            <div class="doge-container">
               <img src="{{ .Site.Params.Portrait.Path }}" alt="{{ .Site.Params.Portrait.Alt }}">
            </div>
            {{ end }}
        </div>
    </main>
{{ end }}
