{{ define "body" }}
    <body class="home{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main class="main">
        <div class="left">
            <div class="title">
                <h1>Dogecoin</h1>
                <h2>Foundation</h2>
            </div>
            <div class="underline"></div>
            <div class="subtitle">
                {{- with .Site.Params.homeSubtitle }}
                    <p>{{.}}</p>
                {{- end }}
            </div>
        </div>
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="margin: auto; max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}
        </div>
    </main>
{{ end }}
