{{ define "main" }}
{{ $paginator := .Paginate .Data.Pages }}

<main class="posts">
    <h1>{{ .Title }}</h1>
    <div class="underline"></div>
    {{ if .Content }}
    <div class="content">{{ .Content }}</div>
    {{ end }}

    {{ range $paginator.Pages.GroupByDate "2006" }}
    <div class="posts-group">
         <div class="post-year">{{ .Key }}</div> 
        <ul class="posts-list">
            {{ range .Pages }}
            <li class="post-item">
                <span class="post-date">
                    <span class="day">
                        {{ .Date.Format "2"}}
                    </span>
                    <span class="month">
                        {{ .Date.Format "Jan"}}
                    </span>
                </span>
                <span class="post-title">{{.Title}}</span>
                <a href="{{.Permalink}}">
                    <button class="post-button">Read more</button>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    {{ partial "pagination-list.html" . }}
</main>
{{ end }}
