{{ define "main" }}
<div class="single-page-grid">
    <main class="post">
        <a href="../" class="back-link">← Back</a>
        <article>
            <h1 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </h1>

            <h5 class="post-subtitle">
                <a>By {{ .Params.author.name }} - {{ dateFormat "Monday, Jan 2, 2006" .Date.Local }}</a>
            </h5>

            {{ with .Params.Description }}
            <div class="post-excerpt">{{ . }}</div>
            {{ end }}

            {{ if .Params.Cover }}
            <figure class="post-cover">
                <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}"/>

                {{ if .Params.CoverCaption }}
                <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
                {{ end }}
            </figure>
            {{ end }}

            {{- if .Params.toc }}
            <hr/>
            <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                {{ .TableOfContents }}
            </aside>
            <hr/>
            {{- end }}

            {{ if .Params.Audio }}
            <div class="post-audio">
                <audio controls>
                    <source src="{{ .Params.Audio }}">
                </audio>
            </div>
            {{ end }}

            <div class="post-content">
                {{ .Content }}
            </div>
        </article>


        <hr/>

        <div style="display: flex;">
            {{ partial "pagination-single.html" . }}
            {{- if .Site.Params.EnableSharingButtons }}
                {{ if and (not $.Site.Params.DisableReadOtherPosts) (or .PrevInSection) }}
                <div class="sharing-buttons">
                    {{ partial "sharing-buttons.html" . }}
                </div>
                {{ else }}
                <div class="sharing-buttons" style="justify-content: flex-start; align-items: center;">
                    Share:
                    {{ partial "sharing-buttons.html" . }}
                </div>
                {{- end }}
            {{- end }}
        </div>


        {{ if .Site.DisqusShortname }}
        {{ if not (eq .Params.Comments "false") }}
        <div id="comments">
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
        {{ end }}

        {{ if .Site.Params.Commento.Url }}
        <script defer src={{ .Site.Params.Commento.Url }}></script>
        <div id="commento"></div>
        {{ end }}

    </main>
    <div class="post">
        <div style="padding: 24px" class="post-categories-bg">
            <h3 style="border-left: 4px solid #CBA94A; padding-left: 12px; margin-top: 0px;">Categories</h3>
            {{ $pages := .Site.Pages }}
            {{ range .Site.Menus.main -}}
            {{ if in .Identifier "news"}}
            {{ range .Children }}
            {{ $sectionPages := where $pages "Section" "==" .Identifier }}
            {{ $pagesKind := where $pages "Kind" "==" "page" }}
            {{ $pageCollection := $sectionPages | intersect $pagesKind }}
            {{ $pageCount := len $pageCollection }}
            {{ if gt $pageCount 0}}
            <div style="display: flex;">
                <div style="flex-grow: 1">
                    <a href="{{ .URL | relLangURL }}" style="text-decoration: none;">{{ .Name }}</a>
                </div>
                <div>
                    ({{ $pageCount }})
                </div>
            </div>
            <hr/>
            {{ end}}
            {{ end}}
            {{ end}}
            {{ end}}
        </div>
        </main>
    </div>
    {{ end }}
